<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form action="">

                    <!-- NAME -->
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="name">First Name</label>
                                <input type="text" class="form-control" name="firstName" placeholder="John">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="name">Last Name</label>
                                <input type="text" class="form-control" name="lastName" placeholder="Doe">
                            </div>
                        </div>
                    </div>

                    <!-- INTRODUCTION -->
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="introduction">Short Description</label>
                                <textarea name="introduction" class="form-control" id="" cols="30" rows="2"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- CONTACT -->
                    <div class="row">
                        <div class="col-6">
                            <!-- EMAIL -->
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" placeholder="example@gmail.com">
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- PHONE NUMBER -->
                            <div class="form-group">
                                <label for="phoneNumber">Phone Number</label>
                                <input type="text" class="form-control" name="phoneNumber" placeholder="example@gmail.com">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>