<div id="card_container">
  <!-- A div with card class for the card  -->
  <div class="card" *ngFor="let template of templates">
    <img
      class="img-responsive"
      src="https://images.unsplash.com/photo-1536323760109-ca8c07450053"
      alt="Lago di Braies"
    />

    <!-- A div with card__details class to hold the details in the card  -->
    <div class="card__details">
      <!-- Span with tag class for the tag -->

      <!-- A div with name class for the name of the card -->
      <div class="name d-flex justify-content-center">{{ template.name }}</div>

      <p>
        {{ template.description }}
      </p>

      <button type="button" (click)="selectTemplate(template._id)">
        Select Template
      </button>
    </div>
  </div>
</div>
